{% extends '../layout.html' %}
{%load static%}
{%block style%}
<link rel="stylesheet" type="text/css" href="{%static 'css/dashboard/users.css'%}">

{%endblock%}
{%block content%}

<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="pills-users-tab" data-toggle="pill" href="#pills-users" role="tab"
      aria-controls="pills-users" aria-selected="true">End-Users</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="pills-contractors-tab" data-toggle="pill" href="#pills-contractors" role="tab"
      aria-controls="pills-contractors" aria-selected="false">Contractors</a>
  </li>

</ul>

<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-users" role="tabpanel" aria-labelledby="pills-home-tab">

    <table class="table users">
      <thead>
        <tr>
          <th>User</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody class="mb-3">
        {%for enduser in endusers%}
        <tr class="bg-light">
          <td>
            <a href="{%url 'profile' enduser.username%}">
              {{enduser.username|title}}
            </a>
          </td>
          <td>
            {%if enduser.userdetail.project.contractor_confirmed%}
            <i class="fas fa-check text-success"></i>
            {%else%}

            <i class="fas fa-times-circle text-danger"></i>

            {%endif%}
          </td>
          <td>
            <span>
              <a class="btn btn-outline-primary btn-sm" href="/contractor/profile">View</a>
            </span>
          </td>
        </tr>
        {%endfor%}
      </tbody>
    </table>
  </div>

  <div class="tab-pane fade" id="pills-contractors" role="tabpanel" aria-labelledby="pills-profile-tab">

    <table class="table contractors">
      <thead>
        <tr>
          <th>User</th>
          <th>Designation</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>

        {%for contractor in contractors%}
        <tr class="bg-light">
          <td>
            <span>
              {{contractor.username}}
            </span>
          </td>

          <td>
            <span>
              {{contractor.userdetail.designation}}

            </span>
          </td>
          <td>
            <span>
              <a class="btn btn-outline-primary" href="/contractor/profile">Profile</a>
            </span>
          </td>
        </tr>
        {%endfor%}
      </tbody>

    </table>

  </div>
</div>

{%endblock%}