{% extends 'dashboard/user/user.html' %}
{%load static%}
{%block style%}
<link rel="stylesheet" type="text/css" href="{%static 'css/dashboard/quotes.css'%}">

{%endblock%}
{%block content%}
<form>

    <div class="survey card">
        <div class="card-body">
            <h6 class="card-title">Property Survey</h6>
                <div class="form-group">
                    <label for="exampleFormControlSelect2">Example multiple select</label>
                    <select multiple class="form-control" id="rooms">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                      </select>
                </div>
          </div>
    </div>

    <div class="card system">
        <div class="card-body">
            <h6 class="card-title">System Request</h6>

            <div class="form-check">
                <div class="card ">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                    <img class="card-img-top" height="100" width="100" src="..." alt="Card image cap">
                    <div class="card-body">
                      <h6 class="card-title text-center">Card title</h6>
                      <a href="#" class="text-center">more>></a>
                    </div>
                    </label>
                  </div>
                  <div class="card ">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                    <img class="card-img-top" height="100" width="100" src="..." alt="Card image cap">
                    <div class="card-body">
                      <h6 class="card-title text-center">Card title</h6>
                      <a href="#" class="text-center">more>></a>
                    </div>
                    </label>
                  </div>
                  <div class="card ">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                    <img class="card-img-top" height="100" width="100" src="..." alt="Card image cap">
                    <div class="card-body">
                      <h6 class="card-title text-center">Card title</h6>
                      <a href="#" class="text-center">more>></a>
                    </div>
                    </label>
                  </div>
                  <div class="card ">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                    <img class="card-img-top" height="100" width="100" src="..." alt="Card image cap">
                    <div class="card-body">
                      <h6 class="card-title text-center">Card title</h6>
                      <a href="#" class="text-center">more>></a>
                    </div>
                    </label>
                  </div>
            </div>
        </div>
    </div>

    <div class="card control">
        <div class="card-body">
            <h6 class="card-title">System Request</h6>

            <div class="form-check">
                <div class="card system">
        <div class="card-body">
            <h6 class="card-title">System Control</h6>

            
                  
                  <div class="card ">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                    <img class="card-img-top" height="100" width="100" src="..." alt="Card image cap">
                    <div class="card-body">
                      <h6 class="card-title text-center">Voice</h6>
                      <a href="#" class="text-center">more>></a>
                    </div>
                    </label>
                  </div>
            </div>
        </div>
    </div>
                  <div class="card ">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                    <img class="card-img-top" height="100" width="100" src="..." alt="Card image cap">
                    <div class="card-body">
                      <h6 class="card-title text-center">App</h6>
                      <a href="#" class="text-center">more>></a>
                    </div>
                    </label>
                  </div>
            </div>
        </div>
    

    <div class="card description">
        <div class="card-body">
            <h6 class="card-title">Description</h6>

            <div class="form-check">
                <textarea class="form-control" id="description" rows="3"></textarea>
            </div>
            </div>
        </div>
</form>

        <button class="btn btn-primary">Request</button>

{%endblock%}