{% extends '../layout.html' %}

{%load static%}
{%block style%}
<link rel="stylesheet" type="text/css" href="{%static 'css/dashboard/user_requests.css'%}">

{%endblock%}
{%block content%}
<h3>Requests</h3>
<table class="table users">
    <thead>
        <tr>
            <th>user</th>
            <th>Project</th>
            <th>Quotation</th>
            <th>action</th>
        </tr>
    </thead>
    <tbody>
        
        {%for project in projects%}
        <tr>
            <td>
                <a href="{%url 'profile' project.owner.user%}">
                    {{project.owner.user|title}}
                </a>

            </td>
            <td>
                {{project.name}}
            </td>
            <td>
                {{project.quote.quotaion}}
                <span>
                    {%if quote.is_confirmed%}
                    <a href="" class="btn btn-success"><i class="fas fa-check text-success"></i></a>
                    {%else%}
                    <a href="" class="btn "><i class="fas fa-times-circle text-danger"></i></a>
          
                    {%endif%}
                  </span>
            </td>
            <td>
                {%if project.contractor_confirmed%}
                <span>
                    <i class="fas fa-check text-success"></i>

                </span>

                {%else%}
                <span>
                    <a href="" class="btn btn-outline-primary btn-sm">View</a>

                    <a href="{%url 'request-confirm' project.id%}" class="btn btn-outline-success btn-sm">Confirm</a>
                </span>
                {%endif%}
            </td>

        </tr>
        {%endfor%}
    </tbody>

</table>
{%endblock%}