form{
    /* width: 100%; */
}

form > .card{
    width: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
    
}
.system{
    /* width: 100%; */
}
.system .form-check,.control .form-check{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.system .card,.control .card{
    width: 150px;
    height: 180px; 
    
    margin-right: 30px;
    margin-bottom: 10px;
    
}
.card img{
    position: relative; 
    height: 100px;
    width: 148px;
} 
.card .card-body{
    
    text-align: center;
}
.form-check h6.card-title{
    font-size: x-small;
    
}

.card .card-body a{
    font-size: x-small;
}

.system .form-check .form-check-input,.control .form-check .form-check-input{
    position: absolute;
    left: 145px;
    z-index: 100;
}
img{
    
}

