
.sidebar{
    /* background-color: #174B2E; */
    width: 217px;
    height: 100vh;
    color: beige;
    position: fixed;
}
.profile{
    width: 200px;
    height: 100px;

}
.profile span{
    text-align: center;
}

ul li{
    color: grey;
}
ul li i{
    margin-right:10px ;
    height: 20px;
    width: 20px;
}
ul li a{
    color:  rgb(185, 185, 185);
}
ul li a:hover{
background-color: #113823;
color:azure;
}

