/* *{
    font-size: 16px;
    font-family:sans-serif;

} */

/* css for django-crispy-form */
.asteriskField{
    display: none;
}
#hint_id_username, #hint_id_password1,#hint_id_password2{
    display: none;

}
li{
    list-style: none;
}
