{% extends 'accounts/main.html' %}
{% load static %}

{%block content%}
<!-- Feature -->
<section class="landing_page container-fluid">
    <div class="landing">
    <img src="{% static 'css/images/background.jpg' 'fill'  %}" alt="" style="width:1519px;height:720px;">
    </div>
    <div class="overlay">Xperts in Home Technology</div>
    <div class="HD">
        <div class="container1">
            <h1 style="text-align:center"><span class="glyphicon glyphicon-equalizer"></span>Smart Automation</h1>
            <p style="text-align:center">

                SmartHome can transform homes with smart home automation; multi-room audio-visual entertainment; touch-of-a-button lighting control and heating control; a stunning home cinema installation; and the reassurance of a comprehensive security system. And we integrate these into a single, intelligent and user-friendly control system, to give complete control over a smart home's technology.
                Our expert installations are industry-leading in their design, quality and reliability, while being intuitive and simple to use. And as we’re independent, we’re not tied on any technology providers.
                We’ll work with you every step of the way to find the perfect solution for your luxury property, shaping our best-in-class smart home technology around your needs.
                Please contact us to chat to one of our home automation consultants about your project or to arrange a demonstration, and see what we can do for you.
                <br>
                </br>
            </p>
        </div>
    </div>

    <!-- About Start -->
    <div class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="about-img">
                        <img src="{% static 'css/images/Rectangle.jpg' %}" ;>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="about-text">
                        <h6>
                            <img src="{% static 'css/images/Rectangle.jpg' %}" ;>
                        </h6>
                    </div>
                </div>
            </div>
        </div>
        <!-------------- NEW START---->
        <div class="about1">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <div class="about-img">
                            <img src="{% static 'css/images/Rectangle6.jpg' %}" alt="" style="width:500px;height:500px;">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="about-text">
                            <h6 style="text-align:center">
                                EXPERTS IN OUR FIELD

                                As home automation installation experts, we have the experience to
                                deliver an excellent home system
                                that will meet your requirements and stand the test of time.hello
                            </h6>

                        </div>
                    </div>
                    <!-- Team Start -->
                    <div class="team">
                        <div class="container">
                            <div class="section-header">
                                </br>
                                </br>
                                </br>
                                <h2 style="text-align:center">
                                    your Smart Home is just few Steps Away
                                    </br>
                                    </br>
                                </h2>
                            </div>
                            <div class="row">
                                <div class="col-lg-4 col-md-4">
                                    <div class="team-item item-right">
                                        <div class="team-img">
                                            <img src="{% static 'css/images/white1.jpg' %}" style="width:350px;height:300px;">
                                        </div>
                                        <div class="team-text">
                                            <h6>
                                                Visit our online estimate page and build your</br>
                                                ideal smart home package and get your free estimate
                                            </h6>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4">
                                    <div class="team-item">
                                        <div class="team-img">
                                            <img src="{% static 'css/images/white3.jpg' %}" style="width:350px;height:300px;">
                                        </div>
                                        <div class="team-text">
                                            <h6>
                                                Our smart home expert will call you to discuss the exact product that will work with your home <br />
                                                and your customised way of livingLightning
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4">
                                    <div class="team-item">
                                        <div class="team-img">
                                            <img src="{% static 'css/images/white2.jpg' %}" style="width:350px;height:300px;">
                                        </div>
                                        <div class="team-text">
                                            <h6>
                                                A SmartHome installer will visit your home prepared with all your required products, and </br>
                                                provide a full install, integration and training
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Team End -->
</section>
{%endblock%}
