{% extends 'accounts/main.html' %}
{% load static %}

<!-- CSS Libraries -->
    {%block style%}

<link href="{%static 'css/accounts/landing.css'%}" rel="stylesheet">

    {%endblock%}

{%block content%}
<!-- Feature -->
<img src="{% static 'css/images/background.jpg' 'fill'  %}" alt="" style="width:1515px;height:720px;">
<div class="HD">
    <div class="container">
        <h1><center><span class="glyphicon glyphicon-equalizer"></span>Smart Automation</center></h1>
        <h2>
            <center>
                Objectively innovate empowered manufactured products<br />
                whereas parallel platforms.
            </center>
        </h2>
    </div>
</div>

<!-- About Start -->

<div class="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-6">
                <div class="about-img">
                    <img src="{% static 'css/images/Rectangle.jpg' %}">
                </div>
            </div>
            <div class="col-lg-7 col-md-6">
                <div class="about-text">
                    <h2>10 Years Experience</h2>
                    <h1>Designers & Installers of the World’s Best Home Automation Systems</h1>
                    <p><center><a class="btn btn-primary" href="#">Click Here</a></center></p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
<!-- Team Start -->
<div class="team">
    <div class="container">
        <div class="section-header">
            <h2><center> Medium Tittle  </center></h2>
            <h2>
                <center>
                    Objectively innovate empowered manufactured products<br />
                    whereas parallel platforms.
                </center>
            </h2>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="team-item">
                    <div class="team-img">
                        <img src="{% static 'css/images/Security.jpg' %}" style="width:250px;height:300px;">
                    </div>
                    <div class="team-text">
                        <h2>Security</h2>
                        <h3>Developer</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="team-item">
                    <div class="team-img">
                        <img src="{% static 'css/images/Security.jpg' %}" style="width:250px;height:300px;">
                    </div>
                    <div class="team-text">
                        <h2>Lightning</h2>
                        <h3>Developer</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="team-item">
                    <div class="team-img">
                        <img src="{% static 'css/images/Security.jpg' %}" style="width:250px;height:300px;">
                    </div>
                    <div class="team-text">
                        <h2>Music systems</h2>
                        <h3>Developer</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="team-item">
                    <div class="team-img">
                        <img src="{% static 'css/images/Security.jpg' %}" style="width:250px;height:300px;">
                    </div>
                    <div class="team-text">
                        <h2>HVAC controllers</h2>
                        <h3>Developer</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Team End -->
{%endblock%}
