{% extends 'accounts/main.html' %}

{% block title %}Login{% endblock %}
{%block style%}
<link rel="stylesheet" type="text/css" href="{%static 'css/accounts/login.css'%}">
{%endblock%}
{%block content%}
<section class="login_page container-fluid">
    <div class="row">
        <aside class="login_img col-sm">
        </aside>
        <aside class="form col-sm">
            <div class="heading">
                <img class="logo">
                <h3>Sign In</h3>
            </div>
            <form>
                <div class="form-group ">
                    <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp" placeholder="Enter email">

                </div>
                <div class="form-group ">
                    <input type="password" class="form-control" name="password" id="password" placeholder="Password">
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input " id="contractor" name="contractor">
                    <label class="form-check-label" for="contractor">Contractor</label>
                </div>
                <button type="submit" class="btn btn-primary submit">Log In</button>
                <div>
                    <p>
                        <span>
                            Dont Have an account?
                            <a class="form-check" href='/register'>Register</a>
                        </span>
                    </p>
                </div>
            </form>
        </aside>

    </div>

</section>


{%endblock%}
