{% extends 'accounts/main.html' %}

{% load static %}

{% block title %}Login{% endblock %}

{%block content%}
<section ="login_page">
    <div class="logout">
        <div class="row">
            <div class="cotainer8">
                <aside class="log_imge col-sm">
                    <h1 style="text-align:center">Welcome To SmartHome</h1>
                    <p>
                        Your smart home is just a few steps away
                    </p>
                </aside>
            </div>
            <aside class="form col-sm">
                <div class="heading">
                    <h3 style="text-align:left">Login</h3>
                    <form>
                        <div class="form-group ">
                            <input type="First Name" class="form-control" name="First Name" id="Name" aria-describedby="emailHelp" placeholder="First Name">

                        </div>
                        <div class="form-group ">
                            <input type="Second Name" class="form-control" name="Second Name" id="Name" aria-describedby="emailHelp" placeholder="Second Name">

                        </div>
                        <div class="form-group ">
                            <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp" placeholder="Enter email">

                        </div>
                        <div class="form-group ">
                            <input type="password" class="form-control" name="password" id="password" placeholder="Password">
                        </div>
                        <div class="form-group ">
                            <input type="phone number" class="form-control" name="phone number" id="number" placeholder="Phone number">
                        </div>
                        <button style="text-align:left" type="submit" class="button">Login</button>
                        <div>
                            <p>
                                <span>
                                    Dont Have an account?
                                    </br>
                                    <a class="form-check" href='/register'>Register</a>
                                </span>
                            </p>
                        </div>
                        </form1>
            </aside>
        </div>
    </div>
</section>
{%endblock%}