{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" type="text/css" href="{%static 'css/main.css'%}">

<link rel="stylesheet" type="text/css" href="{%static 'css/accounts/login.css'%}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>

<section class="login_page container-fluid">
    <div class="row">
        <aside class="login_img col-sm">
        
        </aside>
        <aside class="form col-sm">
            <div class="heading">
                <img class="logo">
                <h3>Sign In</h3>
            </div>
            <form method="POST" action="">
              {%csrf_token%}
              
                <div class="form-group ">
                  <input type="text" class="form-control" name="username" id="email" aria-describedby="emailHelp" placeholder="Enter email">
                </div>
                <div class="form-group ">
                  <input type="password" class="form-control" name="password" id="password" placeholder="Password">
                </div>

                <button type="submit" class="btn btn-primary submit">Log In</button>
                <div>
                    <p>
                        <span>
                            Dont Have an account?
                            <a class="form-check" href='/register'>Register</a>
                        </span>
                    </p>
                </div>
              </form>
        </aside>
        
    </div>
    
</section>


</body>
</html>



