{%load static%}

{%block style%}
<link rel="stylesheet" type="text/css" href="{%static 'css/accounts/navbar.css'%}">
{%endblock%}



<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-light">
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <div class="logo">
                    <img src="{% static 'css/images/Logo.jpg' %}" ;>
                </div>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item active">
                <a class="nav-link" href='/'><button class="button button1">Home</button></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href='/services'><button class="button button1">Service</button></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href='/portfolio'><button class="button button1">Portfolio</button></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><button class="button button1">About</button></a>
            </li>
            <a class="nav-link" href='/login'><button class="button button1">Login</button></a>
        </ul>
    </div>
</nav>

