{% extends 'accounts/main.html' %}
{% load static %}
{%block content%}
<img src="{% static 'css/images/image1.jpg' 'fill'  %}" alt="" style="width:1519px;height:720px;">
<div class="team">
    <div class="container">
        <div class="section-header">
            </br>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-4">
                <div class="team-item">
                    <div class="team-img">
                        <img src="{% static 'css/images/first.jpg' %}" style="width:500px;">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-4">
                <div class="team-item">
                    <div class="team-img">
                        <img src="{% static 'css/images/second.jpg' %}" style="width:500px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{%endblock%}
