{% extends 'accounts/main.html' %}
{% load static %}

{%block style%}
<link rel="stylesheet" type="text/css" href="{%static 'css/accounts/portfolio.css'%}">
{%endblock%}
{%block content%}

<section class="products_page container-fluid">
        <div class="col-md-6">
            <img src="{% static 'css/images/image5.jpg' %}" alt="" style="width:1460px;height:800px;">
        </div>
        <div class="col-sm-6">
            <div class="text-block">
                <h4 style="text-align:Left">
                    
                </h4>
                <p></p>
            </div>
        </div>
 <div class="code">
      <div class="G1">
           <div class=" row">
               <div class="col-lg-4 col-md-4">
                        <img src="{% static 'css/images/first.jpg' %}" alt="" style="width:500px;height:346px;">
               </div>
                <div class="col-lg-4 col-md-4">
                    <div class="team-item item-right">
                            <img src="{% static 'css/images/first.jpg' %}" alt="" style="width:500px;height:346px;">
                    </div>
                 </div>
            </div>
       </div>
 </div>
</section>
{%endblock%}
