{% extends 'accounts/main.html' %}
{% load static %}
{%block content%}
<section class="products_page container-fluid">
        <div class="col-md-6">
            <img src="{% static 'css/images/image1.jpg' %}" alt="" style="width:1500px;">
        </div>
        <div class="col-sm-6">
            <div class="text-block">
                <h4 style="text-align:Left">
                    
                </h4>
                <p></p>
            </div>
        </div>
    </div>
    <div class="G1">
        <div class=" row">
            <div class="col-lg-4 col-md-4">
                <img src="{% static 'css/images/first.jpg' %}" alt="" style="width:500px;height:346px;">
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="team-item item-right">
                    <img src="{% static 'css/images/first.jpg' %}" alt="" style="width:500px;height:346px;">
                </div>
            </div>
        </div>
    </div>
    <div class="private">
        <div class="row">
            <div class="col-md-6">
                <div class="know">
                    <img src="{% static 'css/images/home.jpg' %}" alt="" style="width:1500px;height:600px;">
                </div>
            </div>

            <div class="col-md-6">
                <div class="text-block">
                    <h4 style="text-align:right">
                        HOME TECHNOLOGY PORTFOLIO
                    </h4>
                    <p style="text-align:right">A living testimony to beautifully crafted, technologically enhanced households</pstyle="text-align:right">
                </div>
            </div>
        </div>
    </div>

    <div class="mid">
        <div class="row">
            <div class="m4">
                <img src="{% static 'css/images/Rectangle 29.jpg' %}" ;>
            </div>
            <br>
            </br>
            <div class="col">
                <div class="l1">
                    <img src="{% static 'css/images/Rectangle 33.jpg' %}" ;>
                </div>
                </br>
                <div class="m6">
                    <img src="{% static 'css/images/Rectangle 28.jpg' %}" ;>
                </div>
            </div>
            <div class="col">
                <div class="l1">
                    <img src="{% static 'css/images/Rectangle 31.jpg' %}" ;>
                </div>
                </br>
                <div class="l4">
                    <img src="{% static 'css/images/Rectangle 27.jpg' %}" ;>
                </div>
            </div>
                <div class="m5">
                    <img src="{% static 'css/images/Rectangle 32.jpg' %}" ;>
                </div>
            </div>
        </div>
</section>
{%endblock%}
