 {% extends 'accounts/main.html' %}
 {%block content%}
<div class="main">
    <div class="container">
        <h1><span class="glyphicon glyphicon-equalizer"></span>Products page here</h1>
        <h2>
            Objectively innovate empowered<br>
            manufactured products whereas <br />
            parallel platforms.
            <h2>
    </div>
</div>
<div class="h1">
    <h1 style="text-align:center"><span class="glyphicon glyphicon-equalizer"></span>Our  Services</h1>
</div>
<div class="col-lg-5 col-md-6">
    <div class="row">
        <div class="left-text col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <h1>Art Factory is free <strong>for YOU</strong></h1>
            <p>This template is available for 100% free of charge on TemplateMo. Download, modify and use this for your business website.</p>
            <a href="#about" class="main-button-slider">Find Out More</a>
        </div>
    </div>
</div>
{%endblock%}
