{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="{%static 'css/main.css'%}">

<link rel="stylesheet" type="text/css" href="{%static 'css/accounts/register.css'%}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
    {% load crispy_forms_tags %}
<!-- {{ form.non_field_errors }} -->
<section class="container-fluid">
        <header class="row">
            
                <img class="">
                <h3>Registration for Contractors</h3>
            
        </header>

        <section class="form row">
            <form method="POST" action="">
                {%csrf_token%}


                <div class="">
                    <div class="form-row">
                        <div class="col">
                            {{userForm.first_name|as_crispy_field}}
                        </div>
                        <div class="col">
                            {{userForm.last_name|as_crispy_field}}

                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            {{contractorForm.company_name|as_crispy_field}}

                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col">
                            {{userForm.username|as_crispy_field}}
                        </div>
                        <div class="col">
                            {{userForm.email|as_crispy_field}}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            {{userForm.password1|as_crispy_field}}
                        </div>
                        <div class="col">
                            {{userForm.password2|as_crispy_field}}

                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            {{addressForm.phone_no|as_crispy_field}}
                        </div>
                        <div class="col">
                            {{addressForm.mobile_no|as_crispy_field}}

                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            {{addressForm.address_1|as_crispy_field}}

                        </div>

                    </div>
                    <div class="form-row">
                        <div class="col">
                            {{addressForm.address_2|as_crispy_field}}

                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            {{addressForm.city|as_crispy_field}}

                        </div>
                        <div class="col">
                            {{addressForm.country|as_crispy_field}}

                        </div>
                        <div class="col">
                            {{addressForm.postcode|as_crispy_field}}

                        </div>
                    </div>
                </div>

                <div class="submit-links">
                    <input type="submit" class="btn btn-primary" value="Register" />
                </div>

            </form>
        </section>
        

    

</section>


</body>
</html>
