{% extends 'accounts/layout.html' %}

{% load static %}

{%block style%}
<link rel="stylesheet" type="text/css" href="{%static 'css/accounts/products.css'%}">
{%endblock%}
{%block content%}
<section class="products_page container-fluid">
    <div class="product"
        <div class=" row">
            <div class="hit">
                <h1>Fully</h1>
                <h4>Installed solutions from the experts</h4>
            </div>
          <div class="h2">
              <img src="{% static 'css/images/Rectangle2.jpg' %}"style="width:261px;height:267px;">
          </div>
          <div class="h3">
              <img src="{% static 'css/images/product1.jpg' %}" style="width:360px;height:368px;">
          </div>
          <div class="h4">
              <img src="{% static 'css/images/product1.jpg' %}" style="width:183px;height:185px;";>
          </div>
             <br>
             </br>
       </div>
    </div>
    <!----------------------------Our Services------------------------------------------------------------------------------------->
    <div class="down">
        <h1 style="text-align:center">Our Services </h1>
    </div>
    <div class="post-container">
        <div class="post-thumb">
            <img src="{% static 'css/images/guy.jpg' %}" style="width:350px;height:350px;">
        </div>
        <div class="post-content">
            <div class="Text-Box">
                <h3 class="post-title"></h3>
                <h1> Smart Technology </h1>
                <p>
                    Allow you to control your lighting via voice with simple commands, like:</br>
                    Turn lights on  </br>
                    Dim lights to 30% </br>
                    Lights blue  </br> </br>
                    In addition to this, lights can be controlled from anywhere in the world via phone app control.</br>
                    They can be activated by sensors or fully automated so the lighting can be set based on your location,</br>
                    actions, or set to go on and off at fixed times.
                </p>
            </div>
        </div>
    </div>
    <div class="post-container1">
        <div class="post-thumb1">
            <img src="{% static 'css/images/guy2.jpg' %}" style="width:350px;height:350px;" />
        </div>
        <div class="post-content1">
            <h3 class="post-title"></h3>
            <h1> Home Security </h1>
            <p>
                Easy Control and Monitoring. Instant Alerts </br>
                Unlock the doors</br>
                Most of home security devices are equipped with a night vision camera that helps you to keep an eye on your home eve during the dark hours of the day.
                Also some of the video door bells also have built-in motion detection sensor
                that will quickly report you about any suspicious and unwanted movement   </br> </br>
            </p>
        </div>
    </div>
    <div class="post-container">
        <div class="post-thumb">
            <img src="{% static 'css/images/guy3.jpg' %}" style="width:350px;height:350px;" />
        </div>
        <div class="post-cotainer">
            <h3 class="post-title"></h3>
            <h1> Interactive </h1>
            <p>
                Allow you to control your lighting via voice with simple commands, like:</br>
                Turn lights on  </br>
                Dim lights to 30%  </br>
                Lights blue  </br> </br>
                In addition to this, lights can be controlled from anywhere in the world via phone app control.</br>
                They can be activated by sensors or fully automated so the lighting can be set based on your location,</br>
                actions, or set to go on and off at fixed times.

            </p>
        </div>
    </div>
    <!--------------------products  from  Trusted Brands----------------------------------------------------------------------------------------->
    <div class="post">
        <h1 style="text-align:center">Products from Trusted Brands</h1></br></br>
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="circle">
                    <h4 style="text-align:center">JUNG</h4>
                </div>
                <div class="pro">
                    <p>
                        Intelligent, networked, sustainable, secure, <br>
                        flexible our rooms and our requirements are changing.
                    </p>
                </div>
            </div>
            <br><br />
            <div class="col-lg-4 col-md-4">
                <div class="circle">
                    <h4 style="text-align:center">
                        GIRA
                    </h4>
                </div>
                <div class="pro">
                    <p>
                        IThe Gira Company Driving innovation in electrical technology.
                        Since 1905, Radevormwald-based family company Gira Giersiepen GmbH & Co.
                        KG has been shaping the electronics sector with smart solutions for intelligent building controlg.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="circle">
                    <h5 style="text-align:center">
                        BUSCH-JAGER
                    </h5>
                </div>
                <div class="pro">
                    <p>
                        Busch-Jaeger is the market leader and has more than 140 years
                        of experience in the area of electrical installation technology.
                        We have two manufacturing facilities in Germany.
                    </p>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
</section>
     {%endblock%}
