{% extends 'accounts/main.html' %}
{% load static %}

{%block content%}
<!-------Service-->
<section class="products_page container-fluid">
    <div class="product"
             <h1>

             </h1>
             <div class="h2">
                 <img src="{% static 'css/images/Rectangle2.jpg' %}";>
             </div>
             <br>
             </br>
     </div>


    <div class="post-container">
        <div class="post-thumb">
            <img src="{% static 'css/images/guy.jpg' %}" />
        </div>
        <div class="post-content">
            <h3 class="post-title">Post title</h3>
            <p>post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc </p>
        </div>
    </div>

    <div class="post-container1">
        <div class="post-thumb1">
            <img src="{% static 'css/images/guy.jpg' %}" />
        </div>
        <div class="post-content1">
            <h3 class="post-title1">Post title</h3>
            <p>post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc </p>
        </div>
    </div>


    <div class="post-container">
        <div class="post-thumb">
            <img src="{% static 'css/images/guy.jpg' %}" />
        </div>
        <div class="post-content">
            <h3 class="post-title">Post title</h3>
            <p>post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc post desc </p>
        </div>
    </div>







</section>
 {%endblock%}
