 {% extends 'accounts/main.html' %}
{% load static %}
{%block content%}
<section class="products_page container-fluid">
    <aside class="col-md">
        <div class="product"
             <h1>
                 
             </h1>
             <div class="h2">
                 <img src="{% static 'css/images/Rectangle2.jpg' %}" ;>
             </div>
             <br>
             </br>
             <div class="h3">
                 <img src="{% static 'css/images/p1.jpg' %}" ;>
             </div>
            <div class="">
                 <img src="{% static 'css/images/.jpg' %}" ;>
             </div>
    </aside>
</section>
<div class=" head">
    <h1 style="text-align:center"><span class="glyphicon glyphicon-equalizer"></span>OUR SERVICES</h1>
    <div ="head"
      <div ="circle circle1">
        <img src="{% static 'css/images/guy.jpg' %}" ;>
      </div>
      <div id="text" style="text-align:right">
        <div class="int">
            <h1> EXPERTS IN OUR FIELD</h1>
            <p>
              
            </p>
        </div>
      </div>
    </div>
</div>
{%endblock%}
