.jumbotron feature {
    color: white;
    position: fixed;
    background:no-repeat center center fixed;

#background
{
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background-size: 300px 100px;
}

#backgroud img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
    background-size: 300px 100px;
}
.about {
    position: relative;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 20px;
    margin-bottom: 20px;


}

    .about .about-img img {
        width: 100%;
        border-radius: 10px;
    }

    .about .about-text h2 {
        position: relative;

        font-size: 50px;
        margin-bottom: 15px;
  
    }

        .about .about-text h2 span {
            font-size: 120px;

        }

    .about .about-text p {
        font-size: 16px;
        margin-bottom: 30px;
        text-align: right;
   
    }

    .about .about-text a.btn {
        padding: 15px 35px;
        font-size: 16px;
        text-transform: uppercase;
        border: none;
        border-radius: 5px;
        transition: .3s;
    }

        .about .about-text a.btn:hover {
            color: #ffffff;
        
        }

@media (max-width: 767.98px) {
    .about .about-img img {
        margin-bottom: 30px;
    }
}

/*******************************/
/*********** Team CSS **********/
/*******************************/
.team {
    position: relative;
    width: 100%;
    padding: 45px 0 15px 0;
}

    .team .team-item {
        margin-bottom: 30px;
    }

    .team .team-img {
        position: relative;
        font-size: 0;
        clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
        -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    }

        .team .team-img img {
            width: 100%;
            height: auto;
        }

    .team .team-text {
        padding: 150px 15px 30px 15px;
        margin-top: -130px;
        text-align: center;
        background: #ffffff;
        border: 1px solid #eeeeee;
        transition: .3s;
    }

        .team .team-text:hover {
            background: #FFD662;
            border: 1px solid #FFD662;
        }

        .team .team-text h2 {
            margin-bottom: 5px;
            font-size: 20px;
            font-weight: 400;
            color: #00539C;
        }

        .team .team-text h3 {
            margin-bottom: 20px;
            font-size: 16px;
            font-weight: 300;
        }

    .team .team-social {
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0;
    }

        .team .team-social a {
            display: inline-block;
            width: 40px;
            height: 40px;
            margin-right: 10px;
            padding: 11px 0 10px 0;
            font-size: 16px;
            font-weight: 300;
            line-height: 16px;
            text-align: center;
            color: #ffffff;
            border-radius: 5px;
            transition: .3s;
        }

            .team .team-social a.social-tw {
                background: #00acee;
            }

            .team .team-social a.social-fb {
                background: #3b5998;
            }

            .team .team-social a.social-li {
                background: #0e76a8;
            }

            .team .team-social a.social-in {
                background: #3f729b;
            }

            .team .team-social a.social-yt {
                background: #c4302b;
            }

            .team .team-social a:last-child {
                margin-right: 0;
            }

            .team .team-social a:hover {
                color: #ffffff;
                background: #00539C;
            }
.footer-info,
.footer-info a:link,
.footer-info a:hover,
.footer-info a:focus,
.footer-info a:visited {
    color: #959595;
}

    .footer-info h3 {
        color: black;
        font-size: 18px;
    }

.footer-info-item {
    padding: 0px 20px;
}

footer .small-print {
    background-color: #fff;
    padding: 30px 0;
    text-align: center;
}
/* /////////Products page////////// */
.main
{
    background-color:black;
    text-align:left;

}