body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    border: 5px dashed red;
    overflow-x: hidden !
}
html {
    margin: 0;
    padding: 0;
}

.content{
    margin-top: 80px;
    width: 100vw;

}
