section.login_page {
}
.bg{
       background-size: cover;
       background-repeat:no-repeat;
       background-size:1800px 900px;
       background-position:fixed;
}
.aside {
    position: absolute;
    width: 542px;
    height: 768px;
    left:-20px;
    top: 61px;
    background: #FFFFFF;
}
.log_imge {
    position: absolute;
    width: 0px;
    height: 768px;
    left: 520px;
    right:12px;
    top: 61px;
    background:blue;
}
.form1 {
    text-align: center;
    left: 130px;
    right:
    min-width: 320px;
    max-width: 475px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
}
.aside form1.form-control {
    width: 0px;
}