section.login_page container-fluid {
}
/* Container holding the image and the text */
.container {
    text-align: center;
    color: white;
    position: absolute;
    width: 1000px;
    height: 890px;
    left: 0px;
    top: 0px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: left;
}

.Rectangle25 {
    position: absolute;
    width: 1440px;
    height: 890px;
    left: 0px;
    top: 0px;
}

aside {
    position: absolute;
    width: auto;
    height: auto;
    margin-left: 208px;
    margin-top: 61px;
    position: center;
}

    aside.login_img {
        height: 100vh;
        width: 100vw;
    }

.form .heading {
    text-align: center;
}

.form .logo {
    width: 40px;
    height: 40px;
    background: #174B2E;
}

.login_page aside.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 482px;
    height: 768px;
    left: 750px;
    top: 61px;
}

aside form {
    margin-top: 30px;
    text-align: center;
}

    aside form .form-control {
        width: 500px;
 }
