section.login_page {
}
body {
    background-image: url(http://www.goturkeytourism.com/assets/hero/xwaterfalls-turkey.jpg.pagespeed.ic.St4Hoq28sZ.jpg);
    background-size: cover;
    margin: 0px;
    padding: 0px;
}

.form-box {
    top: 50%;
    left: 50%;
    position: absolute;
    width: 500px;
    height: 400px;
    margin-top: -200px;
    background: rgba(255, 0, 0, 0.5);
    margin-left: -250px;
    padding: 20px 30px;
    line-height: 50px;
}

    .form-box .form-group label {
        color: #fff;
    }

    .form-box .form-group input {
        border-radius: 0px;
        height: 35px;
        background: none;
        color: #fff;
    }

.submit-btn {
    border-radius: 0px;
    background: #fff !important;
    color: red !important;
    padding: 10px 25px;
    font-weight: 600
}