body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    border: 5px dashed red;
    overflow-x: hidden !
}

html {
    height: 100%;
    width: 100%;
}

.test {
    height: 100%;
    width:100%
}
