.portfolio_page{
    
}
.hero{
    background-image: url('../images/image5.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    
}

.hero .heading{
    font-size: 3em;
    color: #828282;
    font-weight: bolder;
}
.hero .text{
    color: #828282;
}
.G1{
    height: 250px;
    display: flex;
    justify-items:center;
    margin-top: 20px;
    color: white;


}
.G1 .text-block{
    background-color: black;
    opacity: .5;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.G1 .text-block:hover{
    opacity: .3;
}
.G1 .text-block a{
    width: 100px;
    align-self:center;
}
.G1 .text-block span{
    width: 60%;
    align-self: center;
}
.bespoke{
    background-image: url('../images/Group1.jpg');
    background-size: cover; 
    margin-right: 10px;

}
.lighting{
    background-image: url('../images/Rectangle5.jpg');
    background-size: cover;

}

.private .entertainment{
    background-image: url('../images//Rectangle26.jpg');
    background-size: cover;
    width: 100vw;
    height: 600px;  
    color: white;  
    margin-top: 20px;
}

/* section.portfolio_page .container-fluid {
}

.container5 {
    position: absolute;
}

.text-block {
    position: absolute;
    background-color: black;
    color: white;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
}

.h1 {
    position: absolute;
    bottom: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    font-size: 100px;
    font-family: Noto, serif;
    color: #ffffff;
    text-shadow: 2px 2px #000000;
    text-transform: uppercase;
    transition-duration: 1s;
    -webkit-background-clip: text;
}

.G1 {
    width: 150px;
    height: 195px;
    position: relative;
    display: inline-block;
    margin: 50px;
}

h1:hover {
    letter-spacing: 10px;
}

.private {
    height: 200px;
    width: 115%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    max-width: 1920px;
    min-width: 480px;
}

.l1 {
    position: absolute;
    width: 430px;
    height: 299px;
    left: 409px;
    top: 1916px;
    background: rgba(126, 202, 159, 0.29);
}

.l2 {
    position: absolute;
    width: 251px;
    height: 382px;
    left: 1084px;
    top: 2042px;
}

.l3 {
    position: absolute;
    width: 198px;
    height: 224px;
    left: 862px;
    top: 1991px;
}

.m3 {
    position: absolute;
    width: 198px;
    height: 224px;
    left: 862px;
    top: 1991px;
}

.m4 {
    position: absolute;
    width: 288px;
    height: 184px;
    left: 908px;
    top: 2240px;
    float: right;
}

.m5 {
    position: absolute;
    width: 251px;
    height: 382px;
    left: 1200px;
    top: 0px;
    bottom: -50px;
}

.rectangle32 {
    bottom: -50px;
}

.m6 {
    position: relative;
    width: 288px;
    height: 184px;
    left: 508px;
    top: 2240px;
    float: left;
}

.l6 {
    position: absolute;
    width: 340px;
    height: 254px;
    left: 720px;
    top: 2240px;
}

.l4 {
    position: absolute;
    width: 340px;
    height: 254px;
    left: 7720px;
    top: 500px;
    padding-bottom: 30px;
    margin-left: 40px;
} */
