section.products_page container-fluid {
}
.product {
    background: #174B2E;
    text-decoration-color: white;
    height: 800px;
    margin: auto;
    text-align:match-parent;
}
.h2 {
    position: absolute;
    width: 566px;
    height: 543px;
    left: 689px;
    top: 209px;
    background: rgba(126, 202, 159, 0.09);
    border-radius: 20px;
}
.h3 {
    position: absolute;
    width: 560.12px;
    height: 300.42px;
    left: 1000px;
    top: 250px;
    background: url(gira4.jpg);
    border-radius: 20px;
}
.h4 {
    position: absolute;
    width: 183.79px;
    height: 188.03px;
    left: 650.44px;
    top: 500px;
    background: url(gira3.jpg);
    border-radius: 20px;
}
.top {
    font: Work Sans;
    left: 300px;
    top: 280px;
    position: absolute;
    margin-top:50px;
    text-color:white;
}
.post {
    position: absolute;
    width: 1440px;
    height: 842px;
    left: 50px;
    top: 2590px;
    background: linear-gradient(182.04deg, #7ECA9F -31.13%, rgba(251, 251, 251, 0) 54.56%);
    padding:10px;
}
.circle {
    background: white;
    border-radius: 100%;
    width: 300px;
    height: 250px;
    top: 50px;
    left: 20px;
    border-color: solid black;
    padding-left: 10px;
}
.circle1 {
    background: white;
    border-radius: 100%;
    width: 300px;
    height: 250px;
    top: 50px;
    left: 20px;
    border-color: solid black;
    float:left;
}

<!----css for source Services---- >
int
 {
    width: 599px;
    height: 400px;
    margin-top: 200px;
    margin-left: 100px;
    background-color: darkseagreen;
    vertical-align: middle;
}
.circle {
    position: relative;
    overflow: hidden;
    padding-left: 10px;
}
.circle. circle1 {
    width: 300px;
    height: 300px;
    float:left;
    border-radius: 25%;
    text-align :right;
    marginradius:20px;
 }
.int {
    text-align: right;
    float:right;
}
.circle . circle2 {
    width: 300px;
    height: 300px;
    float: right;
    border-radius: 50%;
    text-align: right;
    marginradius: 20px;
}
.text box {
    border-style: solid;
    border-color: #287EC7;
    padding: 1em
}
.text {
    background: transparent;
    vertical-align: top;
    display: table-cell;
    padding: 8px 0 0;
    position: fixed;
    top: 20%;
    left: 50%;
    margin-top: 50px;
    margin-left: 350px;
    vertical-align: middle;
    float:right;
}


.container {
    width: 33%;
    height: auto;
    min-width: 150px;
    float: right;
    margin-right: 2rem;
    border-radius: 50%;
    -webkit-shape-outside: circle();
    shape-outside: circle();
}
.post-container {
    margin: 20px 20px 0 0;
    border: 5px solid transparent;
    overflow: auto
}

.post-thumb {
    float: right
}

    .post-thumb img {
        display: block
    }

.post-content {
    margin-right: 210px
}

.post-title {
    font-weight: bold;
    font-size: 200%
}

.post-container1 {
    margin: 20px 20px 0 0;
    border: 5px solid transparent;
    overflow: auto
}

.post-thumb1 {
    float:left;
}

    .post-thumb1 img {
        display: block
    }

.post-content1 {
    margin-right: 210px
}

.post-title {
    font-weight: bold;
    font-size: 200%
}
