section.register_page container-fluid {
}
.outline {
    width: 300px;
    border: 45px solid green;
    padding: 50px;
    margin: 20px;
    position: absolute;
    width: 1440px;
    height: 1024px;
    left: 0px;
    top: 0px;
}
.container {
    text-align: center;
    color: white;
    position: absolute;
    width: 1000px;
    height: 890px;
    left: 0px;
    top: 0px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.aside.login_img1{
    height: auto;
    width: auto;
}
.register_page {
    position: absolute;
    width: 400px;
    height: 650px;
    left: 400px;
    top: 100px;
    background: #FFFFFF;
    border-radius: 103px 0px 103px 103px;
}