section.register_page container-fluid {
}
.outline {
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
    position: absolute;
    width: 1440px;
    height: 1024px;
    left: 0px;
    top: 0px;
}
.aside {
}

.aside.login_img{
        height: 100vh;
        width: 50vw;
        background-color: blueviolet;
    }

.form .heading {
    text-align: center;
}

.form .logo {
    width: 40px;
    height: 40px;
    background-color: blueviolet;
}

.login_page aside.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

aside form {
    margin-top: 30px;
    text-align: center;
}

    aside form .form-control {
        width: 400px;
    }
    
 .heading.border {
    width: 200px;
    height: 100px;
    padding: 20px;
    border: 5px solid Red;
}